DATABASE_URL="postgres://postgres:bdedakhlapwd@localhost:5433/bde-dakhla-db"
APP_BASE_URL="http://localhost:3000"
CRON_SECRET="supersecretcron"
APP_HMAC_SECRET=""
SMTP_HOST="postfix"
SMTP_PORT="25"
SMTP_SECURE="false"
SMTP_FROM_EMAIL="no-reply@example.com"
SMTP_FROM_NAME="Example Newsletter"
SEND_BATCH_SIZE="100"

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_NEXT_SECRET=""